In [2]:

import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.metrics import accuracy_score
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split

In [3]:
traindf = pd.read_csv('train.csv', index_col=0)
traindf.head()

,NU_INSCRICAO,NU_ANO,CO_MUNICIPIO_RESIDENCIA,NO_MUNICIPIO_RESIDENCIA,CO_UF_RESIDENCIA,SG_UF_RESIDENCIA,NU_IDADE,TP_SEXO,TP_ESTADO_CIVIL,TP_COR_RACA,...,Q041,Q042,Q043,Q044,Q045,Q046,Q047,Q048,Q049,Q050
1,ed50e8aaa58e7a806c337585efee9ca41f1eb1ad,2016,4314902,Porto Alegre,43,RS,24,M,0.0,1,...,5.0,A,A,A,A,A,A,A,B,D
2,2c3acac4b33ec2b195d77e7c04a2d75727fad723,2016,2304707,Granja,23,CE,17,F,0.0,3,...,NaN,A,A,C,A,B,A,A,C,A
3,f4545f8ccb9ff5c8aad7d32951b3f251a26e6568,2016,2304400,Fortaleza,23,CE,21,F,0.0,3,...,NaN,A,A,A,A,C,A,A,B,A
4,3d6ec248fef899c414e77f82d5c6d2bffbeaf7fe,2016,3304557,Rio de Janeiro,33,RJ,25,F,0.0,0,...,5.0,C,A,A,A,A,D,A,A,A
5,bf896ac8d3ecadd6dba1dfbf50110afcbf5d3268,2016,1302603,Manaus,13,AM,28,M,0.0,2,...,NaN,A,A,A,A,A,A,A,A,A

In [4]:
traindf.isnull().sum().sum()

253786

In [5]:
traindf.fillna(0, inplace=True)

In [ ]:
testdf = pd.read_csv('test.csv')
testdf.head()

In [7]:
traindf.isnull().sum().sum()

0

In [8]:
testdf = pd.read_csv('test.csv')
testdf.head()

,NU_INSCRICAO,CO_UF_RESIDENCIA,SG_UF_RESIDENCIA,NU_IDADE,TP_SEXO,TP_COR_RACA,TP_NACIONALIDADE,TP_ST_CONCLUSAO,TP_ANO_CONCLUIU,TP_ESCOLA,...,NU_NOTA_COMP5,NU_NOTA_REDACAO,Q001,Q002,Q006,Q024,Q025,Q026,Q027,Q047
0,ba0cc30ba34e7a46764c09dfc38ed83d15828897,43,RS,19,F,1,1,1,3,1,...,NaN,NaN,E,E,H,B,B,C,D,A
1,177f281c68fa032aedbd842a745da68490926cd2,15,PA,24,M,3,2,1,4,1,...,NaN,NaN,B,C,B,A,A,C,D,A
2,6cf0d8b97597d7625cdedc7bdb6c0f052286c334,29,BA,16,F,2,1,3,0,1,...,NaN,NaN,E,F,G,B,B,A,NaN,D
3,5c356d810fa57671402502cd0933e5601a2ebf1e,41,PR,17,F,1,1,2,0,2,...,40.0,480.0,E,E,E,C,B,B,C,A
4,df47c07bd881c2db3f38c6048bf77c132ad0ceb3,53,DF,19,F,1,1,1,1,1,...,80.0,720.0,E,E,E,B,B,B,D,A

In [9]:
testdf.shape

(4570, 43)

In [10]:
testdf.isnull().sum().sum()

20309

In [13]:
testdf.fillna(0, inplace=True)

In [12]:
testdf.isnull().sum().sum()

0

In [14]:
#criando df reposta
answerdf = pd.DataFrame()

In [15]:
answerdf['NU_INSCRICAO'] = testdf['NU_INSCRICAO']
answerdf.head()

                               NU_INSCRICAO
0  ba0cc30ba34e7a46764c09dfc38ed83d15828897
1  177f281c68fa032aedbd842a745da68490926cd2
2  6cf0d8b97597d7625cdedc7bdb6c0f052286c334
3  5c356d810fa57671402502cd0933e5601a2ebf1e
4  df47c07bd881c2db3f38c6048bf77c132ad0ceb3

In [16]:
answerdf.shape

(4570, 1)

In [17]:
#analises
features = ['NU_IDADE', 'TP_ST_CONCLUSAO', 'TP_ANO_CONCLUIU']

In [18]:


X = traindf[features]
X.head()

   NU_IDADE  TP_ST_CONCLUSAO  TP_ANO_CONCLUIU
1        24                1                4
2        17                2                0
3        21                3                0
4        25                1                9
5        28                1                4

In [19]:
y = traindf['IN_TREINEIRO']
y.head()

1    0
2    0
3    0
4    0
5    0
Name: IN_TREINEIRO, dtype: int64

In [20]:
#separacao dados em treino e teste
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=0)

In [21]:
#random forest classification
rfc = RandomForestClassifier(n_estimators=500)
rfc.fit(X_train, y_train)

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='gini', max_depth=None, max_features='auto',
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=500,
                       n_jobs=None, oob_score=False, random_state=None,
                       verbose=0, warm_start=False)

In [22]:
y_pred = rfc.predict(X_test)
y_pred

array([0, 0, 0, ..., 0, 0, 0])

In [23]:
f'acc: {(accuracy_score(y_test, y_pred) * 100).round(2)}%'

'acc: 99.75%'

In [24]:
y_pred = rfc.predict(testdf[features])
y_pred

array([0, 0, 1, ..., 0, 0, 0])

In [25]:


answerdf['IN_TREINEIRO'] = y_pred
answerdf.head()

                               NU_INSCRICAO  IN_TREINEIRO
0  ba0cc30ba34e7a46764c09dfc38ed83d15828897             0
1  177f281c68fa032aedbd842a745da68490926cd2             0
2  6cf0d8b97597d7625cdedc7bdb6c0f052286c334             1
3  5c356d810fa57671402502cd0933e5601a2ebf1e             0
4  df47c07bd881c2db3f38c6048bf77c132ad0ceb3             0

In [26]:
testdf.shape, answerdf.shape

((4570, 43), (4570, 2))

In [27]:
answerdf.to_csv('answer.csv', index=False)